body {
  background-image: linear-gradient(to bottom, #1f5d28 0%, #e2ebf0 100%);
  background-attachment: fixed;
  font-family: "prociono",serif;
  font-size: 16px;
}

h1,h2,h3,h4,h5,h6{
  font-family: "junction", sans-serif;
}


.card .card-image .card-title, .card .card-title {
  font-size: 15px;
  padding: 5px;
  width: 100%;
}
.card-title h5 {
  padding-bottom: 3px;
  border-bottom: 1px solid white;
}

.card .card-image img {
  mix-blend-mode: multiply;
}

.end-mark {
  display: none;
}

.card:hover {
  background-color: #747474;
}
/* .card {
  background-color: white;
} */

.sideways {
  transform: rotate(90deg);
  transform-origin: right top;
  font-size: 2.5rem;
  position: fixed;
  top: 80vh;
  right: 5vh;
  color: #fffffffa;
  font-family: "junction", sans-serif;
}



.row {
  margin: 0;
}

/* .input-field input, .input-field textarea{ */
.input-field label, a, h3, h4, h5{
  color: white !important;
}

input[type='text'], textarea.materialize-textarea, textarea {
  border-bottom: 1px solid white !important;
  color: black;
}

.row {
  background: rgba(255, 255, 255, 0.2);
  padding: 20px 50px 50px 50px;
}

.article-row {
  padding: 0;
}

.title-row {
  color: white;
  font-size: 3rem;
  background: none;
}

.title {
  font-size: 3rem;
  text-align: center
}

.row .col {
  padding: 0px 1rem !important;
}

h4 {
  text-align: center;
}

.active {
  font-size: 1rem !important;
}

h5 {
  margin-bottom: 25px !important;
}